<?xml version="1.0"?>
<launch>
	<!--param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot.urdf.xacro'"/-->

	<arg name="robot_namespace" default="/"/>
	<arg name="laser_enabled" default="$(optenv HUSKY_LMS1XX_ENABLED false)"/>
	<arg name="kinect_enabled" default="$(optenv HUSKY_KINECT_ENABLED false)"/>
	<arg name="urdf_extras" default="$(optenv HUSKY_URDF_EXTRAS)"/>

	<param name="robot_description" command="$(find xacro)/xacro.py '$(find vaultbot_description)/urdf/vaultbot_robot.urdf.xacro'"/>

	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"> 
		<param name="/use_gui" value="true"/>
	</node>

	<!--node name="osvr_server" pkg="rviz_plugin_osvr" type="start_osvr_server.sh" /-->

	<node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

	<node name="rviz" args="-l" pkg="rviz" type="rviz" output="screen"/>
</launch>
