<?xml version="1.0"?>
<launch>
	<node name="osvr_server" pkg="rviz_plugin_osvr" type="start_osvr_server.sh" />
	<node name="rviz" args="-l -d $(find rviz_plugin_osvr)/rviz_cfg/rviz_plugin_osvr.rviz" pkg="rviz" type="rviz" output="screen"/>
	<node pkg="tf" type="static_transform_publisher" name="map_publisher" args="-5 0 1 0.1 0.1 0.1 1 world dummyTargeFrame 1"/>
</launch>
